.stars-wrapper {
	display: flex;
	gap: 20px;
	position: relative;
	margin: -20px 0 10px 5px;

	&__img {
		position: absolute;
		top: 2px;
	}

	&__quantity {
		padding-left: 23px;
	}

	a {
		text-decoration: none;
	}
}

.zoom {
	transition: transform 0.1s ease-in-out;
}

.zoom:hover {
	display: inline-block;
	transform: scale(1.02);
	color: rgb(0, 66, 128);
	// transform: translateY(0.3px);
}
