.kanban {
	display: flex;
	// align-items: flex-start;
	justify-content: center;

	&__section {
		width: 33%;
		background-color: #b1b1b1;
		padding: 10px;

		& ~ & {
			margin-left: 10px;
		}

		&__content {
			& > * ~ * {
				margin-top: 10px;
			}
		}
	}
}

.kanban__title-container {
	display: flex;
	justify-content: center;

	&__title {
		width: 33%;
		font-size: 1.2rem;
		font-weight: 700;
		margin: 20px 0 12px;
		text-align: center;
	}
}
